// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$mid-gray:#f1eeee;
$light-blue: #B4E1F9;

.bg-mid-gray {
  background-color: $mid-gray !important;
}

.bg-light-blue {
  background-color: $light-blue !important;
}
