#chat_title {
  margin-top: 40px;
  margin-bottom: 30px;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

#messages_container {
  margin-bottom: 50px;
}

#new_message_container {
  margin-top: 30px;
}

.back-link {
  display: inline-block;
  margin-bottom: 20px;
}
