<div class="user_profile_banner">
  <%= image_tag "Banner_user_profile.jpg", class: "user_profile_banner_img", alt: "Banner" %>

  <div class="user_profile_banner_overlay"></div>

  <div class="user_profile_banner_content">
    <h1>Créer ton profil !</h1>
    <p>Ton coach va créer ton plan d'entraînement</p>
  </div>
</div>
