<div class="user_profile_banner">
  <%= image_tag "Banner_chat_show.jpg", class: "user_profile_banner_img", alt: "Banner" %>

  <div class="user_profile_banner_overlay"></div>

  <div class="user_profile_banner_content">
    <h1>Voici ton entrainement</h1>
  </div>
</div>

<div class="container">
  <%= link_to "â† Retour aux entrainements", chats_path, class: "btn btn-success btn-lg return-training-btn" %>
  <div id="messages_container">
    <div id="messages">
      <%= render "messages/messages", messages: @chat.messages %>
    </div>
  </div>

  <div id="new_message_container">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>
