<div class="home-banner">
  <%= image_tag "Banner_home.jpg", class: "home-banner_img", alt: "Banner" %>

  <div class="home-banner_overlay"></div>

  <div class="home-banner_content">
    <h1>In Shape Plan</h1>
    <p>Crée ton plan d'entraînement personnalisé.</p>

    <div class="home-banner_actions">
      <% if user_signed_in? %>
      <%= link_to "Se connecter", new_user_session_path, class: "home-banner_btn home-banner_btn--primary",
      onclick: "alert('Vous êtes déjà connecté.'); return false;" %>
      <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "home-banner_btn home-banner_btn--primary" %>
      <% end %>
      <%= link_to "Créer mon programme", user_profiles_new_path, class: "home-banner_btn home-banner_btn--secondary" %>
    </div>
  </div>
</div>
