.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;
  background: white;
  border-bottom: 1px solid #eee;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
